/* Import DM Sans typeface */
@font-face {
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    src: local('DM Sans Italic'), local('DMSans-Italic'), url(https://fonts.gstatic.com/s/dmsans/v4/rP2Fp2ywxg089UriCZa4Hz-DJF4e8A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 500;
    src: local('DM Sans Medium Italic'), local('DMSans-MediumItalic'), url(https://fonts.gstatic.com/s/dmsans/v4/rP2Ap2ywxg089UriCZaw7ByWCXwT2iv06A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 700;
    src: local('DM Sans Bold Italic'), local('DMSans-BoldItalic'), url(https://fonts.gstatic.com/s/dmsans/v4/rP2Ap2ywxg089UriCZawpBqWCXwT2iv06A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: local('DM Sans Regular'), local('DMSans-Regular'), url(https://fonts.gstatic.com/s/dmsans/v4/rP2Hp2ywxg089UriCZOIHTWEBlw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    src: local('DM Sans Medium'), local('DMSans-Medium'), url(https://fonts.gstatic.com/s/dmsans/v4/rP2Cp2ywxg089UriAWCrCBimC3YU-Ck.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: local('DM Sans Bold'), local('DMSans-Bold'), url(https://fonts.gstatic.com/s/dmsans/v4/rP2Cp2ywxg089UriASitCBimC3YU-Ck.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* Set global styles */
* {
    background-color: #3da9a9;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
}


main {
    align-items: center;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label {
    color: #ffffff;
    font-size: 1.3rem;
}

input {
    padding: 5px 0;
    margin-bottom: 15px;
    height: 2rem;
    font-size: 1.5rem;
    background-color: #ffffff;
    color: #3f3f3f;
    border: none;
}

form {
    width: 85%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin: 0 auto;
    flex-flow: column;
}

hr {
    border: 1px solid #ffffff;
}

.calculate {
    color: #ffffff;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 20px;
}

.logo {
    color: #ffffff;
    font-size: 1.3rem;
    text-transform: bold;
    margin-bottom: 25px;
}

#submit {
  margin: 10px 5px;
  border-radius: 50px;
  height: 3em;
  width: 7em;
  background-color: #ffffff;
  color: #125452;
  text-transform: uppercase;
  font-size: 1rem;
  border: none;
}

#submit:hover {
  background-color: #125452;
  color: #ffffff;
  border: none;
}

#reset {
  margin: 10px 5px;
  border: 3px solid #ffffff;
  border-radius: 50px;
  height: 3em;
  width: 7em;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1rem;
}

#reset:hover {
  background-color: #125452;
  color: #ffffff;
  border: none;
}